@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link">Přihlášen jako: @UserManager.GetUserName(User)</span>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-link nav-link">Odhlásit</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Přihlásit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrovat</a>
    </li>
}
